.cart{
    width:80%;
    border: black 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: auto;
    margin: 0 120px;
    
}
.App{
    text-align: center;
}